# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg

# Virtual Environments
.venv/
env/
venv/
ENV/

# Testing & Coverage
.cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Output and Audio Data
**/MR_output/
*.wav
*.flac
*.mp3
*.m4a
*.tmp
*.zip
inputs/

# Internal / Private Docs
docs/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
